version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql

  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.1
    container_name: zookeeper
    ports:
      - "${ZOOKEEPER_PORT}:${ZOOKEEPER_PORT}"
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_PORT}
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.9.1
    container_name: kafka
    ports:
      - "${KAFKA_PORT}:${KAFKA_PORT}"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:${ZOOKEEPER_PORT}"
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:${KAFKA_PORT}
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:${KAFKA_PORT}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  # service-a:
  #   build: ./services/service-a
  #   container_name: service-a
  #   env_file: .env
  #   ports:
  #     - "${SERVICE_A_PORT}:${SERVICE_A_PORT}"
  #   environment:
  #     POSTGRES_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}"
  #     KAFKA_BROKER: "kafka:${KAFKA_PORT}"
  #   depends_on:
  #     - postgres
  #     - kafka

  # service-b:
  #   build: ./services/service-b
  #   container_name: service-b
  #   env_file: .env
  #   ports:
  #     - "${SERVICE_B_PORT}:${SERVICE_B_PORT}"
  #   environment:
  #     POSTGRES_URL: "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}"
  #     KAFKA_BROKER: "kafka:${KAFKA_PORT}"
  #   depends_on:
  #     - postgres
  #     - kafka

volumes:
  postgres_data:
